
@{
    Layout = "~/Views/Shared/_Layoutpage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>basic</title>
</head>
<body>
    <div id="contend">
        <div style="margin-left: 20px; margin-right: 30px;">
            <h1>HTML <span class="color_h1">Basic Examples</span></h1>
            <p>In this chapter we will show some basic HTML examples.</p>
            <hr>
            <h2>
                The &lt;!DOCTYPE&gt; Declaration<h2>
                    <p>The <code1>&lt;!DOCTYPE html&gt;</code1> declaration represents the document type, and helps browsers to display web pages correctly.</p>
                    <p>It must only appear once, at the top of the page (before any HTML tags).</p>
                    <p>The <code1>&lt;!DOCTYPE html&gt;</code1> declaration is not case sensitive.</p>
                    <p>The <code1>&lt;!DOCTYPE html&gt;</code1> declaration for HTML5.</p>

                    <hr>
                    <h2>HTML Headings</h2>
                    <p>HTML headings are defined with the <code1>&lt;h1&gt;</code1> to <code1>&lt;h6&gt;</code1> tags.</p>
                    <p><code1>&lt;h1&gt;</code1>defines the most important heading.<code1>&lt;h6&gt;</code1>defines the least important heading.</p>
                    <div class="Eh-example">
                        <h3>Example</h3>
                        <div class="Eh-exampleinnner ">
                            <code>&lt;h1&gt;</code>This is heading 1<code>&lt;/h1&gt;</code><br>
                            <code>&lt;h2&gt;</code>This is heading 2<code>&lt;/h2&gt;</code><br>
                            <code>&lt;h3&gt;</code>This is heading 3<code>&lt;/h3&gt;</code>
                        </div>
                        <a target="_blank" href="htmltryit/htmlbasich1.html" class="btn btn-success" style="margin: 10px;margin-left: 0px;">Demo </a>
                    </div>
                    <hr>

                    <h2>HTML Paragraphs</h2>
                    <p>HTML paragraphs are defined with the <code1>&lt;P&gt;</code1> tag. Start With <code1>&lt;P&gt;</code1> And End With <code1>&lt;/P&gt;</code1> tags.</p>
                    <div class="Eh-example">
                        <h3>Example</h3>
                        <div class="Eh-exampleinnner ">
                            <code>&lt;p&gt;</code>This is paragraph 1<code>&lt;/p&gt;</code><br>
                            <code>&lt;p&gt;</code>This is paragraph 2<code>&lt;/p&gt;</code><br>
                            <code>&lt;p&gt;</code>This is paragraph 3<code>&lt;/p&gt;</code>
                        </div>
                        <a target="_blank" href="htmltryit/htmlbasicparagraph.html" class="btn btn-success" style="margin: 10px;margin-left: 0px;">Demo </a>
                    </div>
                    <hr>

                    <h2>HTML Links</h2>
                    <p>HTML links are defined with the <code1>&lt;a&gt;</code1> tag. Start With <code1>&lt;a&gt;</code1> And End With <code1>&lt;/a&gt;</code1> tags.</p>
                    <div class="Eh-example">
                        <h3>Example</h3>
                        <div class="Eh-exampleinnner">
                            <code>&lt;a</code><href>href</href> =<link1>"https://www.google.com"</link1> <code>&gt;</code>This is a link<code>&lt;/a&gt;</code><br>
                            <code>&lt;a</code><href>href</href> =<link1>"https://www.youtube.com"</link1> <code>&gt;</code>This is a link<code>&lt;/a&gt;</code><br>
                            <code>&lt;a</code><href>href</href> =<link1>"https://www.fontawesome.com"</link1> <code>&gt;</code>This is a link<code>&lt;/a&gt;</code><br>
                        </div>
                        <a target="_blank" href="htmltryit/htmlbasiclinks.html" class="btn btn-success" style="margin: 10px;margin-left: 0px;">Demo </a>
                    </div>
                    <p>The link's destination is specified in the <code1>href</code1> attribute.</p>
                    <p>Attributes are used to provide additional information about HTML elements.</p>
                    <p>You will learn more about attributes in a later chapter.</p>
                    <hr>

                    <h2>HTML Images</h2>
                    <p>HTML images are defined with the <code1>&lt;img&gt;</code1> tag.</p>
                    <p>The source file (<code1>&lt;src&gt;</code1>), alternative text (<code1>&lt;alt&gt;</code1>), <code1>&lt;width&gt;</code1>, and <code1>&lt;height&gt;</code1> are provided as attributes:</p>
                    <div class="Eh-example">
                        <h3>Example</h3>
                        <div class="Eh-exampleinnner ">
                            <p><code>&lt;img</code> <href>src</href><link1>="Images/1.jpg"</link1> <href>alt</href><link1>="Laptop Image"</link1> <href>width</href><link1>="175"</link1> <href>height</href><link1>="175"</link1> <code>&gt;</code></p>
                        </div>
                        <a target="_blank" href="htmltryit/htmlbasicImages.html" class="btn btn-success" style="margin: 10px;margin-left: 0px;">Demo </a>
                    </div>
                    <p>The link's destination is specified in the <code1>href</code1> attribute.</p>
                    <p>Attributes are used to provide additional information about HTML elements.</p>
                    <p>You will learn more about attributes in a later chapter.</p>
                    <hr>

                    <h2>View HTML Source Code:</h2>
                    <p>Right-click in an HTML page and select "View Page Source" (in Chrome) or "View Source" (in Edge), or similar in other browsers. This will open a window containing the HTML source code of the page.</p>

                    <h2>Inspect an HTML Element:</h2>
                    <p>Right-click on an element (or a blank area), and choose "Inspect" or "Inspect Element" to see what elements are made up of (you will see both the HTML and the CSS). You can also edit the HTML or CSS on-the-fly in the Elements or Styles panel that opens.</p>

                    <h2>ShortCut Key For View HTML Source Code:</h2>
                    <p> Press <b>ctrl + U</b>  you Redirect on Source Code Of Html Page. (in Chrome) or (in Edge), or similar in other browsers. This will open a window containing the HTML source code of the page.</p>

        </div>
    </div>
</body>
</html>
<script>
    $("#htmlbasic").addClass("active");
</script>