
@{
    Layout = "~/Views/Shared/_Layoutpage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div id="contend">
            <div style="margin-left: 20px; margin-right: 30px;">
                <h1>HTML Introduction</h1>
                <hr>
                <p>HTML is the standard markup language for creating Web pages.</p>
                <hr>
                <h2>What is HTML?<h2>
                        <div style="font-size: 18px;">
                            <ul>
                                <li>HTML stands for Hyper Text Markup Language</li>
                                <li>HTML is the standard markup language for creating Web pages</li>
                                <li>HTML describes the structure of a Web page</li>
                                <li>HTML consists of a series of elements</li>
                                <li>HTML elements tell the browser how to display the content</li>
                                <li>HTML elements label pieces of content such as "this is a heading", "this is a paragraph", "this is a link", etc.</li>
                            </ul>
                        </div>
                        <hr>
                        <h2>Simple HTML Document</h2>
                        <div class="Eh-example">
                            <h3>Example</h3>
                            <div class="Eh-exampleinnner ">
                                <br>
                                <code1>&lt;!DOCTYPE html&gt;</code1><br>
                                <code1>&lt;html&gt;</code1><br>
                                <code1>&lt;head&gt;</code1><br>
                                <code1>&lt;title&gt;</code1>Page Title<code1>&lt;/title&gt;</code1><br>
                                <code1>&lt;/head&gt;</code1><br>
                                <code1>&lt;body&gt;</code1><br>
                                <code1>&lt;h1&gt;</code1> My First Heading <code1>&lt;/h1&gt;</code1><br>
                                <code1>&lt;p&gt;</code1> My first paragraph. <code1>&lt;/p&gt;</code1><br>
                                <code1>&lt;/body&gt;</code1><br>
                                <code1>&lt;/html&gt;</code1><br>
                                <br>
                            </div>
                            <a target="_blank" href="htmltryit/htmlintro.html" class="btn btn-success" style="margin: 10px;margin-left: 0px;">Demo </a>
                        </div>
                        <hr>
                        <h2>Example Explained</h2>
                        <ul style="font-size: 18px;">
                            <li>The <code>&lt;!DOCTYPE html&gt;</code> declaration defines that this document is an HTML5 document</li>
                            <li>The <code>&lt;html&gt;</code> element is the root element of an HTML page</li>
                            <li>The <code>&lt;head&gt;</code> element contains meta information about the HTML page</li>
                            <li>The <code>&lt;title&gt;</code> element specifies a title for the HTML page (which is shown in the browser's title bar or in the page's tab)</li>
                            <li>The <code>&lt;body&gt;</code> element defines the document's body, and is a container for all the visible contents, such as headings, paragraphs, images, hyperlinks, tables, lists, etc.</li>
                            <li>The <code>&lt;h1&gt;</code> element defines a large heading</li>
                            <li>The <code>&lt;p&gt;</code> element defines a paragraph</li>
                        </ul>

                        <hr>
                        <h2><b>Look like this on web browser</h2>
                        <p>The purpose of a web browser (Chrome, Edge, Firefox, Safari) is to read HTML documents and display them correctly.</p>
                        <p>A browser does not display the HTML tags, but uses them to determine how to display the document:</p>
                        <br>
                        <img src="images\demoimg1.png" style="width: 100%; margin-bottom: 20px;" />
            </div>
        </div>
        </div>
</body>

</html>
<script>
    $("#htmlindex").addClass("active");
</script>
