
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
    <link href="~/Layoutcontent/Css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Layoutcontent/Css/bootstrap.min.css" rel="stylesheet" />*@
    <link type="text/css" href="~/LayoutjsNcss/htmlmaincss.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    <script src="~/Layoutcontent/Js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/a0ec62624f.js"></script>
    <script src="~/LayoutjsNcss/html.js"></script>
    <script>
        $(window).on('beforeunload', function () {
            $(window).scrollTop(0);
        });
    </script>
</head>
<body onLoad="openNav()">
    <nav class="navbar navbar navbar-fixed-top" style="background-color:black">
        <div class="container-fluid">
            <div class="navbar-header">
                <span style="font-size:31px;cursor:pointer; color: white;" id="opennavbtn" onClick="sidenav()">&#9776;</span>
                @*<span style="font-size:30px;cursor:pointer; color: white;" id="closebtn" onClick="closeNav()">&#9776; </span>*@
            </div>
            <div class="navbar-header">
                <label style="color: orange;font-size: 30px;padding-left: 15px; padding-right: 15px; padding-right:15px;">Edu-Hub Tech</label>
            </div>
            <div class="topnav">
                <ul>
                    <li><a class="active" href="#home">Home</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            
        </div>
    </nav>

    <div class="row" id="sidenavadjust">
        <div id="mySidenav" class="sidenav">
            <a class="Btn" id="htmlindex" href="~/HTML/Index">Html Intro</a>
            <a class="Btn" id="htmlbasic" href="~/HTML/basic">Html Basic</a>
            <a class="Btn" href="Html_Attributes.html">Html Attributes</a>
            <a class="Btn" href="Html_Headings.html">Html Headings</a>
            <a class="Btn" href="Html_Paragraphs.html">Html Paragraphs</a>
            <a class="Btn" href="Html_Color.html">Html Color</a>
            <a class="Btn" href="Html_links.html">Html links</a>
        </div>

        <div id="main">
            <div class="row" id="HtmlIntro">
                <div id="datastore">
                    <div class="row" id="contentrow">
                        <div class="col-md-12">
                            <div id="contend">
                                @RenderBody()
                            </div>
                        </div>
                        @*<div class="col-md-3" style="height: 90%; border-right: 2px green">
                                <div id="notificationbar">
                                </div>
                            </div>*@
                    </div>
                    <div>
                        <!-- Footer -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer font-small " style="background: grey;padding-bottom: 22px;">
        <div class="container text-center">
            <div class="row" style="margin-top: 25px; margin-bottom: 15px;">
                <div class="col-md-12 ">
                    @*<div class="mb-5 flex-center">
                            <a class="fb-ic" style="margin-left: -60px;margin-right: 30px; color:#4CAF50;" ">
                                <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a class="tw-ic" style="margin-right:30px; color:#4CAF50;">
                                <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a class="gplus-ic" style="margin-right:30px; color:#4CAF50;">
                                <i class="fa fa-google fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a class="li-ic" style="margin-right:30px;color:#4CAF50;">
                                <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a class="ins-ic" style="margin-right:30px;color:#4CAF50;">
                                <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                            </a>
                            <a class="pin-ic" style="color:#4CAF50;">
                                <i class="fa fa-pinterest fa-lg white-text fa-2x"> </i>
                            </a>
                        </div>*@
                </div>
            </div>
        </div>
        <div>
            <div class="footer-copyright text-center py-3">
                © 2020 Copyright:
                <a style="color:#4CAF50;" href="https://technicalknowledgehub.000webhostapp.com/">Edu-HubTech.com</a>
            </div>
        </div>
        <!-- Copyright -->

    </footer>


</body>
</html>
<script>
    window.onscroll = function () { myFunction() };
    var header = document.getElementById("mySidenav");
    var sticky = header.offsetTop;

    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

</script>